1. Importing libraries

In [14]:
import pandas as pd
import numpy as np
import os 
import pickle

2. Importing datasets

In [17]:
path = r'C:/Users/C SaiVishwanath/Documents/CF/Data Immersion/Achievement 6'

In [52]:
pop20 = pd.read_csv(os.path.join(path, '02_Data', 'Original', 'US Population 2010-2020.csv'), sep=';', index_col = False, encoding='latin1')
pop24 = pd.read_csv(os.path.join(path, '02_Data', 'Original', 'US Population 2020-2024.csv'), sep=';', index_col = False, encoding='latin1')

In [46]:
pop20

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE2020
0,40,3,6,1,0,Alabama,Alabama,4779736,4780118,4785514,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4921532
1,50,3,6,1,1,Alabama,Autauga County,54571,54582,54761,55229,54970,54747,54922,54903,55302,55448,55533,55769,56145
2,50,3,6,1,3,Alabama,Baldwin County,182265,182263,183121,186579,190203,194978,199306,203101,207787,212737,218071,223565,229287
3,50,3,6,1,5,Alabama,Barbour County,27457,27454,27325,27344,27172,26946,26768,26300,25828,25169,24887,24657,24589
4,50,3,6,1,7,Alabama,Bibb County,22915,22904,22858,22736,22657,22510,22541,22553,22590,22532,22300,22313,22136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43580,44000,45032,45189,44996,44780,44319,43663,43188,42917,42673
3190,50,4,8,56,39,Wyoming,Teton County,21294,21298,21298,21422,21643,22335,22801,23083,23255,23383,23261,23385,23497
3191,50,4,8,56,41,Wyoming,Uinta County,21118,21121,21090,20901,21008,20969,20835,20777,20711,20449,20299,20196,20215
3192,50,4,8,56,43,Wyoming,Washakie County,8533,8528,8531,8451,8410,8417,8277,8282,8180,8013,7886,7824,7760
3193,50,4,8,56,45,Wyoming,Weston County,7208,7208,7198,7142,7075,7132,7134,7202,7228,6962,6895,6880,6743

In [54]:
pop24

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022,POPESTIMATE2023,POPESTIMATE2024
0,40,3,6,1,0,Alabama,Alabama,5025369,5033094,5049196,5076181,5117673,5157699
1,50,3,6,1,1,Alabama,Autauga County,58800,58909,59191,59736,60436,61464
2,50,3,6,1,3,Alabama,Baldwin County,231767,233244,239411,246577,254107,261608
3,50,3,6,1,5,Alabama,Barbour County,25226,24975,24517,24722,24644,24358
4,50,3,6,1,7,Alabama,Bibb County,22284,22176,22344,21983,21890,22258
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,50,4,8,56,37,Wyoming,Sweetwater County,42270,42196,41630,41322,41288,41273
3191,50,4,8,56,39,Wyoming,Teton County,23327,23384,23613,23341,23368,23272
3192,50,4,8,56,41,Wyoming,Uinta County,20448,20461,20690,20722,20724,20621
3193,50,4,8,56,43,Wyoming,Washakie County,7685,7663,7727,7728,7736,7662
3194,50,4,8,56,45,Wyoming,Weston County,6838,6817,6747,6872,6828,6866

2. Null values

In [59]:
# Count non-null data points per column
count_per_column = pop20.count()

print(count_per_column)

SUMLEV               3194
REGION               3194
DIVISION             3194
STATE                3194
COUNTY               3194
STNAME               3194
CTYNAME              3194
CENSUS2010POP        3194
ESTIMATESBASE2010    3194
POPESTIMATE2010      3194
POPESTIMATE2011      3194
POPESTIMATE2012      3194
POPESTIMATE2013      3194
POPESTIMATE2014      3194
POPESTIMATE2015      3194
POPESTIMATE2016      3194
POPESTIMATE2017      3194
POPESTIMATE2018      3194
POPESTIMATE2019      3194
POPESTIMATE2020      3194
dtype: int64

In [61]:
count_per_column = pop24.count()

print(count_per_column)

SUMLEV               3195
REGION               3195
DIVISION             3195
STATE                3195
COUNTY               3195
STNAME               3195
CTYNAME              3195
ESTIMATESBASE2020    3195
POPESTIMATE2020      3195
POPESTIMATE2021      3195
POPESTIMATE2022      3195
POPESTIMATE2023      3195
POPESTIMATE2024      3195
dtype: int64

In [63]:
#Count of null values
pop20.isnull().sum()

SUMLEV               0
REGION               0
DIVISION             0
STATE                0
COUNTY               0
STNAME               0
CTYNAME              0
CENSUS2010POP        0
ESTIMATESBASE2010    0
POPESTIMATE2010      0
POPESTIMATE2011      0
POPESTIMATE2012      0
POPESTIMATE2013      0
POPESTIMATE2014      0
POPESTIMATE2015      0
POPESTIMATE2016      0
POPESTIMATE2017      0
POPESTIMATE2018      0
POPESTIMATE2019      0
POPESTIMATE2020      0
dtype: int64

In [65]:
pop24.isnull().sum()

SUMLEV               0
REGION               0
DIVISION             0
STATE                0
COUNTY               0
STNAME               0
CTYNAME              0
ESTIMATESBASE2020    0
POPESTIMATE2020      0
POPESTIMATE2021      0
POPESTIMATE2022      0
POPESTIMATE2023      0
POPESTIMATE2024      0
dtype: int64

3. Duplicates

In [77]:
#Checking in pop20
pop20_dups = pop20[pop20.duplicated()]

In [79]:
pop20_dups

Empty DataFrame
Columns: [SUMLEV, REGION, DIVISION, STATE, COUNTY, STNAME, CTYNAME, CENSUS2010POP, ESTIMATESBASE2010, POPESTIMATE2010, POPESTIMATE2011, POPESTIMATE2012, POPESTIMATE2013, POPESTIMATE2014, POPESTIMATE2015, POPESTIMATE2016, POPESTIMATE2017, POPESTIMATE2018, POPESTIMATE2019, POPESTIMATE2020]
Index: []

In [81]:
#Checking in pop 24/
pop24_dups = pop24[pop24.duplicated()]

In [74]:
pop24_dups

Empty DataFrame
Columns: [SUMLEV, REGION, DIVISION, STATE, COUNTY, STNAME, CTYNAME, ESTIMATESBASE2020, POPESTIMATE2020, POPESTIMATE2021, POPESTIMATE2022, POPESTIMATE2023, POPESTIMATE2024]
Index: []

4. Mixed type columns

In [83]:
#Checking in pop20
for col in pop20.columns.tolist():
    weird = (pop20[[col]].applymap(type) != pop20
[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (pop20[weird]) > 0:
        print (col)

C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\26685550.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop20[[col]].applymap(type) != pop20

In [85]:
#Checking in pop24
for col in pop24.columns.tolist():
    weird = (pop24[[col]].applymap(type) != pop24
[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (pop24[weird]) > 0:
        print (col)

C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\4260323405.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop24[[col]].applymap(type) != pop24
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\4260323405.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop24[[col]].applymap(type) != pop24
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\4260323405.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop24[[col]].applymap(type) != pop24
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\4260323405.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop24[[col]].applymap(type) != pop24
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\4260323405.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop24[[col]].applymap(type) != pop24
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\4260323405.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop24[[col]].applymap(type) != pop24
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\4260323405.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop24[[col]].applymap(type) != pop24
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\4260323405.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop24[[col]].applymap(type) != pop24
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\4260323405.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop24[[col]].applymap(type) != pop24
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\4260323405.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop24[[col]].applymap(type) != pop24
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\4260323405.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop24[[col]].applymap(type) != pop24
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\4260323405.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop24[[col]].applymap(type) != pop24
C:\Users\Alejandra\AppData\Local\Temp\ipykernel_27652\4260323405.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (pop24[[col]].applymap(type) != pop24

5. Frequencies

In [88]:
#Print pop20
# Loop through all columns and print frequencies
for col in pop20.columns:
    print(f"\n--- Column: {col} ---")
    print(pop20[col].value_counts(dropna=False))
    print(f"Grand total (including NaNs): {pop20[col].size}")

--- Column: SUMLEV ---
SUMLEV
50    3143
40      51
Name: count, dtype: int64
Grand total (including NaNs): 3194

--- Column: REGION ---
REGION
3    1439
2    1067
4     462
1     226
Name: count, dtype: int64
Grand total (including NaNs): 3194

--- Column: DIVISION ---
DIVISION
4    625
5    597
7    474
3    442
6    368
8    289
9    173
2    153
1     73
Name: count, dtype: int64
Grand total (including NaNs): 3194

--- Column: STATE ---
STATE
48    255
13    160
51    134
21    121
29    116
20    106
17    103
37    101
19    100
47     96
31     94
18     93
39     89
27     88
26     84
28     83
40     78
5      76
55     73
42     68
1      68
12     68
46     67
8      65
22     65
36     63
6      59
30     57
54     56
38     54
45     47
16     45
53     40
41     37
35     34
2      31
49     30
24     25
56     24
34     22
32     18
23     17
4      16
50     15
25     15
33     11
9       9
44      6
15      6
10      4
11      2
Name: count, dtype: int64
Grand total (including NaNs): 3194

--- Column: COUNTY ---
COUNTY
0      51
3      49
5      49
1      49
9      48
       ..
367     1
369     1
371     1
373     1
78      1
Name: count, Length: 326, dtype: int64
Grand total (including NaNs): 3194

--- Column: STNAME ---
STNAME
Texas                   255
Georgia                 160
Virginia                134
Kentucky                121
Missouri                116
Kansas                  106
Illinois                103
North Carolina          101
Iowa                    100
Tennessee                96
Nebraska                 94
Indiana                  93
Ohio                     89
Minnesota                88
Michigan                 84
Mississippi              83
Oklahoma                 78
Arkansas                 76
Wisconsin                73
Pennsylvania             68
Alabama                  68
Florida                  68
South Dakota             67
Colorado                 65
Louisiana                65
New York                 63
California               59
Montana                  57
West Virginia            56
North Dakota             54
South Carolina           47
Idaho                    45
Washington               40
Oregon                   37
New Mexico               34
Alaska                   31
Utah                     30
Maryland                 25
Wyoming                  24
New Jersey               22
Nevada                   18
Maine                    17
Arizona                  16
Vermont                  15
Massachusetts            15
New Hampshire            11
Connecticut               9
Rhode Island              6
Hawaii                    6
Delaware                  4
District of Columbia      2
Name: count, dtype: int64
Grand total (including NaNs): 3194

--- Column: CTYNAME ---
CTYNAME
Washington County          30
Jefferson County           25
Franklin County            24
Jackson County             23
Lincoln County             23
                           ..
Winn Parish                 1
West Feliciana Parish       1
West Carroll Parish         1
West Baton Rouge Parish     1
Weston County               1
Name: count, Length: 1928, dtype: int64
Grand total (including NaNs): 3194

--- Column: CENSUS2010POP ---
CENSUS2010POP
21720    3
23796    2
17392    2
12161    2
22952    2
        ..
24742    1
9519     1
26835    1
8314     1
7208     1
Name: count, Length: 3140, dtype: int64
Grand total (including NaNs): 3194

--- Column: ESTIMATESBASE2010 ---
ESTIMATESBASE2010
6186     2
3719     2
6845     2
36011    2
29402    2
        ..
11310    1
24511    1
13882    1
24741    1
7208     1
Name: count, Length: 3137, dtype: int64
Grand total (including NaNs): 3194

--- Column: POPESTIMATE2010 ---
POPESTIMATE2010
4809      3
5440      2
13732     2
5196      2
605282    2
         ..
15856     1
7714      1
24534     1
13836     1
7198      1
Name: count, Length: 3144, dtype: int64
Grand total (including NaNs): 3194

--- Column: POPESTIMATE2011 ---
POPESTIMATE2011
12027    3
2260     3
13857    2
1957     2
9117     2
        ..
14190    1
59364    1
15931    1
7706     1
7142     1
Name: count, Length: 3128, dtype: int64
Grand total (including NaNs): 3194

--- Column: POPESTIMATE2012 ---
POPESTIMATE2012
14032    2
14412    2
797      2
4098     2
39886    2
        ..
16122    1
31493    1
14057    1
59542    1
7075     1
Name: count, Length: 3144, dtype: int64
Grand total (including NaNs): 3194

--- Column: POPESTIMATE2013 ---
POPESTIMATE2013
8244     3
19516    2
4002     2
28357    2
12298    2
        ..
15893    1
7147     1
10995    1
23536    1
7132     1
Name: count, Length: 3132, dtype: int64
Grand total (including NaNs): 3194

--- Column: POPESTIMATE2014 ---
POPESTIMATE2014
10280    3
9845     2
38482    2
19958    2
3347     2
        ..
7069     1
10841    1
23352    1
13832    1
7134     1
Name: count, Length: 3115, dtype: int64
Grand total (including NaNs): 3194

--- Column: POPESTIMATE2015 ---
POPESTIMATE2015
8635      3
8886      2
11327     2
39402     2
5239      2
         ..
164627    1
15681     1
31467     1
14123     1
7202      1
Name: count, Length: 3138, dtype: int64
Grand total (including NaNs): 3194

--- Column: POPESTIMATE2016 ---
POPESTIMATE2016
14309     3
20349     2
40807     2
15870     2
5920      2
         ..
767770    1
52259     1
22895     1
165144    1
7228      1
Name: count, Length: 3131, dtype: int64
Grand total (including NaNs): 3194

--- Column: POPESTIMATE2017 ---
POPESTIMATE2017
12525    2
2526     2
15842    2
6962     2
31776    2
        ..
24500    1
9249     1
27017    1
8293     1
8013     1
Name: count, Length: 3137, dtype: int64
Grand total (including NaNs): 3194

--- Column: POPESTIMATE2018 ---
POPESTIMATE2018
16853    3
8212     3
8649     2
40725    2
94161    2
        ..
21847    1
13269    1
24614    1
27003    1
6895     1
Name: count, Length: 3140, dtype: int64
Grand total (including NaNs): 3194

--- Column: POPESTIMATE2019 ---
POPESTIMATE2019
6829     3
11277    3
1295     3
5989     2
9780     2
        ..
21560    1
13309    1
27111    1
8256     1
6880     1
Name: count, Length: 3127, dtype: int64
Grand total (including NaNs): 3194

--- Column: POPESTIMATE2020 ---
POPESTIMATE2020
8368     3
2986     3
5680     2
10737    2
7949     2
        ..
9637     1
21213    1
13262    1
24466    1
6743     1
Name: count, Length: 3117, dtype: int64
Grand total (including NaNs): 3194

In [90]:
#Print pop24
# Loop through all columns and print frequencies
for col in pop24.columns:
    print(f"\n--- Column: {col} ---")
    print(pop24[col].value_counts(dropna=False))
    print(f"Grand total (including NaNs): {pop24[col].size}")

--- Column: SUMLEV ---
SUMLEV
50    3144
40      51
Name: count, dtype: int64
Grand total (including NaNs): 3195

--- Column: REGION ---
REGION
3    1439
2    1067
4     462
1     227
Name: count, dtype: int64
Grand total (including NaNs): 3195

--- Column: DIVISION ---
DIVISION
4    625
5    597
7    474
3    442
6    368
8    289
9    173
2    153
1     74
Name: count, dtype: int64
Grand total (including NaNs): 3195

--- Column: STATE ---
STATE
48    255
13    160
51    134
21    121
29    116
20    106
17    103
37    101
19    100
47     96
31     94
18     93
39     89
27     88
26     84
28     83
40     78
5      76
55     73
42     68
1      68
12     68
46     67
8      65
22     65
36     63
6      59
30     57
54     56
38     54
45     47
16     45
53     40
41     37
35     34
2      31
49     30
24     25
56     24
34     22
32     18
23     17
4      16
50     15
25     15
33     11
9      10
44      6
15      6
10      4
11      2
Name: count, dtype: int64
Grand total (including NaNs): 3195

--- Column: COUNTY ---
COUNTY
0      51
3      48
5      48
1      48
9      47
       ..
369     1
371     1
373     1
375     1
78      1
Name: count, Length: 330, dtype: int64
Grand total (including NaNs): 3195

--- Column: STNAME ---
STNAME
Texas                   255
Georgia                 160
Virginia                134
Kentucky                121
Missouri                116
Kansas                  106
Illinois                103
North Carolina          101
Iowa                    100
Tennessee                96
Nebraska                 94
Indiana                  93
Ohio                     89
Minnesota                88
Michigan                 84
Mississippi              83
Oklahoma                 78
Arkansas                 76
Wisconsin                73
Pennsylvania             68
Alabama                  68
Florida                  68
South Dakota             67
Colorado                 65
Louisiana                65
New York                 63
California               59
Montana                  57
West Virginia            56
North Dakota             54
South Carolina           47
Idaho                    45
Washington               40
Oregon                   37
New Mexico               34
Alaska                   31
Utah                     30
Maryland                 25
Wyoming                  24
New Jersey               22
Nevada                   18
Maine                    17
Arizona                  16
Vermont                  15
Massachusetts            15
New Hampshire            11
Connecticut              10
Rhode Island              6
Hawaii                    6
Delaware                  4
District of Columbia      2
Name: count, dtype: int64
Grand total (including NaNs): 3195

--- Column: CTYNAME ---
CTYNAME
Washington County          30
Jefferson County           25
Franklin County            24
Jackson County             23
Lincoln County             23
                           ..
West Feliciana Parish       1
West Carroll Parish         1
West Baton Rouge Parish     1
Webster Parish              1
Weston County               1
Name: count, Length: 1932, dtype: int64
Grand total (including NaNs): 3195

--- Column: ESTIMATESBASE2020 ---
ESTIMATESBASE2020
2195      3
14503     2
7503      2
5673      2
8220      2
         ..
22678     1
169039    1
30196     1
14865     1
6838      1
Name: count, Length: 3139, dtype: int64
Grand total (including NaNs): 3195

--- Column: POPESTIMATE2020 ---
POPESTIMATE2020
20734    3
1452     3
12347    2
12020    2
24376    2
        ..
24248    1
8872     1
27515    1
8678     1
6817     1
Name: count, Length: 3142, dtype: int64
Grand total (including NaNs): 3195

--- Column: POPESTIMATE2021 ---
POPESTIMATE2021
11619     3
1736      2
2901      2
669256    2
6698      2
         ..
15035     1
62582     1
16273     1
7457      1
6747      1
Name: count, Length: 3139, dtype: int64
Grand total (including NaNs): 3195

--- Column: POPESTIMATE2022 ---
POPESTIMATE2022
7508     3
8890     2
16114    2
8767     2
49585    2
        ..
8960     1
27855    1
9119     1
67333    1
6872     1
Name: count, Length: 3135, dtype: int64
Grand total (including NaNs): 3195

--- Column: POPESTIMATE2023 ---
POPESTIMATE2023
2278      3
11517     2
15405     2
44127     2
16448     2
         ..
172248    1
13660     1
29723     1
15328     1
6828      1
Name: count, Length: 3135, dtype: int64
Grand total (including NaNs): 3195

--- Column: POPESTIMATE2024 ---
POPESTIMATE2024
5756      2
15591     2
5261      2
4583      2
11862     2
         ..
22098     1
174862    1
13438     1
29657     1
6866      1
Name: count, Length: 3144, dtype: int64
Grand total (including NaNs): 3195

In [92]:
#End of consistency check. No inconsistencies found. No need to export.